body{
    border: 6px solid Black;
    min-height: 800px;
}

header{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    height:100px;
    /* border: 10px solid red; */
}

div.logo{
    border: 6px solid blue;
    flex-basis:15%;
}

div.nav{
    border: 6px solid green;
    flex-basis:85%;
}

div.summary{
    border: 10px solid purple;
    height: 300px;
}

div.main{
    border: 10px solid yellow;
    height: 700px; /*TODO: this height is subject to change and maybe should change*/
}

footer{
    display:flex;
    align-self:flex-end;
    border: 6px solid red;
}