body{
    border: 6px solid Black;
    min-height: 800px;
}

header{
    display:flex;
    flex-direction:column;
    height:300px;
    border: 10px solid red;
}

.logo{
    display:flex;
    max-height:220px;
}

nav{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    justify-content:space-around;
    height:100%;
}

nav ul{
    display:flex;
    justify-content:space-around;
    list-style-type:none;
    border:1px black solid;
}
nav ul li{
    display:inline;
}
nav ul li:hover{
    background-color:gray;
}

div.summary{
    border: 10px solid purple;
    height: 300px;
}

div.main{
    border: 10px solid yellow;
    height: 700px; /*TODO: this height is subject to change and maybe should change*/
    p{
        border: 5px solid lightBlue;
        height: 400px; 
    }
}

footer{
    display:flex;
    align-self:flex-end;
    border: 6px solid red;
}